<section class="gallery">
  <div class="button-container">
    <button mat-fab (click)="prevPhoto()" aria-label="Example icon button with a home icon">
      <mat-icon color="primary">keyboard_arrow_left</mat-icon>
    </button>
    <button mat-fab (click)="nextPhoto()" aria-label="Example icon button with a home icon">
      <mat-icon color="primary">keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <image-card *ngFor="let filteredPhoto of filteredPhotos; index as i;" [photoNumber]="(i + 1)"
    [albumId]="filteredPhoto.albumId" [title]="filteredPhoto.title" [url]="filteredPhoto.thumbnailUrl"
    class="image-card-list" [routerLink]="['/albums', filteredPhoto.albumId]"></image-card>

</section>