div.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

section.gallery {
  flex: 1;
  height: 100%;
  gap: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  padding: 0 1.8rem 0 1.8rem;

  .image-card-list {
    width: 16rem;
    height: 16rem;
    padding: 4rem;

    a {
      cursor: pointer;
    }
  }
}