<div class="button-container">
  <button mat-fab (click)="prevPhoto()" aria-label="Example icon button with a home icon">
    <mat-icon color="primary">keyboard_arrow_left</mat-icon>
  </button>
  <button mat-fab (click)="nextPhoto()" aria-label="Example icon button with a home icon">
    <mat-icon color="primary">keyboard_arrow_right</mat-icon>
  </button>
</div>

<section class="gallery">
  <image-card *ngIf="currentPhoto" [photoIndex]="currentPhotoIndex" [albumId]="currentPhoto.albumId"
    [title]="currentPhoto.title" [url]="currentPhoto.thumbnailUrl"
    [routerLink]="['/albums', currentPhoto.albumId]"></image-card>
</section>

<!--
(click)="showAlbum(currentPhoto.albumId)"
routerLink="/detail/{{currentPhoto.albumId}}"
-->