@use '@angular/material' as mat;

@include mat.core();

// Palletes
$primary-palette: (
  50: #e4f2fb,
  100: #bedff8,
  200: #96ccf3,
  300: #6fb8ee,
  400: #53a9eb,
  500: #3c9ce8,
  600: #358ddb,
  700: #2d7bc8,
  800: #276ab6,
  900: #1b4d97,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
  )
);

$accent-palette: (
  50: #ffffff,
  100: #fafafa,
  200: #f5f5f5,
  300: #f0f0f0,
  400: #dedede,
  500: #c2c2c2,
  600: #979797,
  700: #818181,
  800: #606060,
  900: #3c3c3c,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
  )
);

$app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dark-theme: mat.define-dark-theme((color: ( // arguments: lighter, darker, text
        primary: mat.define-palette($primary-palette, 400, 700, 200),
        accent: mat.define-palette($accent-palette, 500, 900, 50),
        warn: $app-warn,
      ),
    ));

$light-theme: mat.define-light-theme((color: ( // arguments: lighter, darker, text
        primary: mat.define-palette($primary-palette, 100, 600, 100),
        accent: mat.define-palette($accent-palette, 400, 800, 50),
        warn: $app-warn,
      ),
    ));

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}